<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
		
		<add key="YOUR_ACCESS_KEY_ID" value="AKIAVFMUJ6SXWCCEBAN5"/>
		<add key="YOUR_SECRET_ACCESS_KEY" value="PfFY//ElvdUHDrK+ZRKkWjE19fl5hE+/YJMKajRV"/>
		<add key="SecretName" value="AWSCFSecretkey"/>
		<add key="SecretRefreshIntervalMinutes" value="10" />
		
        <add key="key1" value="Net 48 appsettings." />
    </appSettings>
    <connectionStrings>
        <add name="key2" connectionString="Net 48 connection string" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>