<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/rajalingamp66/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github>
      <add key="Username" value="rajalingamp66" />
      <!-- Token is injected at runtime by Jenkins via dotnet push -k -->
    </github>
  </packageSourceCredentials>
</configuration>
