<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/rajalingamp66/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="rajalingamp66" />
      <add key="ClearTextPassword" value="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" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
